html {
   font-size: 125%;
}

h1, h2, h3, p, ul {
   margin: 0;
   padding: 0;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}

li {
   list-style: none;
}

address {
   font-style: normal;
}

a {
   color: $bgColor;
   text-decoration: none;

   &:hover,
   &:focus {
      color: $accentVibrantRed;
   }
}

.wrapper {
   max-width: 1200px;
   width: 95%;
   margin: 0 auto;
}

button {
   @include mainButton();

   &:hover, 
   &:focus {
      @include buttonHover();
   }
}

.buttonContainer {
   margin: 30px auto 0px auto;
}

.errorContainer {
   @include fontStyle($bodyFont, $accentRed, 1rem);
   height: 10px;
   margin: 30px auto;
}

// Styles for the hidden and displayed divs in windowB and windowC (on click or checked)
   .hiddenContents {
      max-height: 0px;
      overflow: hidden;
      transition: max-height .1s;
   }

   .displayContents,
   .checkbox:checked ~ .hiddenContents {
      margin-top: 10px;
      max-height: 500px;
      transition: max-height .5s;
   }

   .checkbox:focus + label {
      background: $accentBlue;
   }

