// * {border: 1px solid red;}

html {
   font-size: 125%;
}

h1, h2, h3, p, ul {
   margin: 0;
   padding: 0;
}

img {
   width: 100%;
}

li {
   list-style: none;
}

address {
   font-style: normal;
}

.wrapper {
   max-width: 1200px;
   width: 95%;
   margin: 0 auto;
}

button {
   @include mainButton();

   &:hover, 
   &:focus {
      @include buttonHover();
   }
}