header {
   background-color: $bgColor;
   min-height: 35vh;
   text-align: center;

   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   
   h1 {
      @include fontStyle($decorFont, $fontMainColor, 4rem);
      padding: 20px;
   }

   p {
      @include fontStyle($bodyFont, $bgColor, 1rem);
      background: $secondBgColor;
      border-radius: 12px;
      border: 2px solid $accentBlue;
      width: 75%;
      padding: 20px;

      span {
         font-weight: 700;
      }

      .important {
         display: block;
         margin-top: 10px;
         padding: 12px;
         background: $accentBlue;
         border-radius: 8px;
         line-height: 1.75rem;
      }

      .button {
         text-transform: capitalize;
         color: $fontMainColor;
         font-family: $decorFont;
         padding: 4px 8px;
         background-color: $accentRed;
         border-radius: 8px;
         position: relative;
         bottom: 6px;
      }
   }
}