header {
   background-color: $bgColor;
   min-height: 20vh;
   text-align: center;
   
   h1 {
      @include fontStyle($decorFont, $fontMainColor, 5rem);
      padding: 20px;
   }

   p {
      @include fontStyle($bodyFont, $fontMainColor, 1.25rem);
   }
}