// Media query to increase widths of the instruction container/Window B results, and reduce <h1> size
@media (max-width: 940px) {
    header {
        h1 {
            font-size: 3.5rem;
        }
        p {
            width: 100%;
        }
    }
    .windowB fieldset label {
        width: 95%;
    }
}


// Media query to center flexed content as it wraps, and to reduce margin/font sizes
@media (max-width: 700px) {
    header h1 {
        font-size: 2.75rem;
    }
    .windowB fieldset {
        .optionContainer {
            justify-content: center;
        }
        .textContainer {
            margin-left: 0px;
        }
        h2, p {
            text-align: center;
        }
    }
    .windowC {
        .nameplate, .socialMedia .hiddenContents {
            justify-content: center;
        }
        .userName {
            text-align: center;
        }
    }
    button {
        margin: 10px;
    }
}


// Media query to reduce font sizes, padding, and box-shadow, and increase width of <select> 
@media (max-width: 400px) {
    header p,
    .windowA select,
    .windowB fieldset p,
    .errorContainer p,
    .windowC p,
    footer p {
        font-size: 0.8rem;
    }
    
    .windowA select {
        width: 100%;
    }

    .windowB fieldset {
        h2 {
            font-size: 1rem;
        }
        label {
            box-shadow: 8px 8px 0px $accentBlue;
            padding: 10px 0;
        }
        .fa-plus {
            font-size: 1.5rem;
        }
        .hiddenContents {
            text-align: center;
        }
    }

    .windowC {
        padding: 10px;
    }
}