$bgColor: #0f1c2e;
$secondBgColor: #78a5bf;
$fontMainColor: #f1faee;
$accentRed: #e63946;
$accentBlue: #a8dadc;
$accentVibrantRed: #d90429;

$decorFont: 'Nova Square', cursive;
$bodyFont: 'Open Sans', sans-serif;

@mixin fontStyle($family, $color, $size, $weight: 400, $lineHeight: auto) {
   font-size: $size;
   font-family: $family;
   font-weight: $weight;
   color: $color;
   line-height: $lineHeight;
}

@mixin mainButton() {
   background-color: $accentRed;
   padding: 10px 25px;
   color: $fontMainColor;
   font-family: $decorFont;
   border: 2.5px solid $accentRed;
   border-radius: 12px;
   cursor: pointer;
}

@mixin buttonHover {
   transform: scale(1);
   border: 2.5px solid $accentVibrantRed;
}


//Design notes:
//Window A (PHIL): 100vh, maybe fun background around the header info, two inputs side by side, button underneath, increase the size, we need instruction copy for this page
//instructions copy 

//Window B (WINNIE):
//hide the radio buttons and highlight the clicked selection instead
//list is shorter, smaller photos
//put into a 5 x 3 grid
//submit button center at the bottom, make more semantic
//instructions copy

//Window C (PHIL):
//nameplate to the right side of the photo
//increase photo size if possible
//each section has its own pod on the window
//at the bottom are the navigation buttons, displayed in their own visually distinct way
//instructions copy

//Footer (WINNIE):
//make background different from main, center font