$bgColor: #0f1c2e;
$secondBgColor: #78a5bf;
$fontMainColor: #f1faee;
$accentRed: #e63946;
$accentBlue: #a8dadc;
$accentVibrantRed: #d90429;

$decorFont: 'Nova Square', cursive;
$bodyFont: 'Open Sans', sans-serif;

@mixin fontStyle($family, $color, $size, $weight: 400, $lineHeight: auto) {
   font-size: $size;
   font-family: $family;
   font-weight: $weight;
   color: $color;
   line-height: $lineHeight;
}

@mixin mainButton() {
   background-color: $accentRed;
   padding: 10px 20px;
   color: $fontMainColor;
   font-family: $decorFont;
   font-size: 1.3rem;
   border: 2.5px solid $accentRed;
   border-radius: 12px;
   cursor: pointer;
   margin: 30px;
}

@mixin buttonHover {
   transform: scaleX(1.06);
   border: 2.5px solid $accentBlue;
}