.windowB {
    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset {
        display: flex;
        flex-wrap: wrap;
        border: none;
        padding-bottom: 50px;
    }

    h2 {
        margin: 10px 0;
        @include fontStyle($decorFont, $accentVibrantRed, 1.3rem)
    }

    p {
        @include fontStyle($bodyFont, $fontMainColor, 1rem)
    }

    .dobStyle {
        color: $bgColor;
    }

    input[type='radio'] {
        opacity: 0;
    }

    label {
        background-color: $secondBgColor;
        border: 2.5px $secondBgColor solid;
        border-radius: 12px;
        box-shadow: 15px 15px 0px $accentBlue;
        display: block;
        margin: 25px auto;
        padding: 0 30px;
        width: 70%; // 
        position: relative;
    }

    label:hover,
    input[type='radio']:focus + label,
    input[type='radio']:checked + label {
        border:  2.5px $accentRed solid;
        background-color: $accentRed;
        cursor: pointer;
        h2 {
            color: $bgColor;
        }
        transition: all 0.5s;
    }

    .optionContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;
    }

    .imageContainer {
        margin-right: 20px;
        background: $accentBlue;
        border-radius: 50%;
        padding: 10px;
    }

    img {
        border-radius: 50%;
        width: 125px;
    }
    

    .textContainer {
        margin-left: 40px;
    }

    .displayContents{
        &::before {
            content: '';
            display: block;
            height: 3px;
            background: $accentBlue;
            margin: 10px 0 20px 0;
        }
    }        
    
    .fa-plus {
        position: absolute;
        color: $fontMainColor;
        font-size: 2rem;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 10px;
        transition: transform .5s;
    }
    
    .active {
        transform: rotate(45deg);
        transition: transform .5s;
    }
}


