.windowB {
    display: flex;
    flex-direction: column;
    align-items: center;

    fieldset {
        display: flex;
        flex-wrap: wrap;
        border: none;
        padding-bottom: 50px;

        h2, h3 {
            @include fontStyle($decorFont, $bgColor, 1.3rem)
        }
    
        h2 {
            margin: 10px 0;
        }

        h3 {
            margin-bottom: 10px;
        }

        p {
            @include fontStyle($bodyFont, $fontMainColor, 1rem)
        }

        .dobStyle {
            color: $bgColor;
        }

        input[type='radio'] {
            opacity: 0;
        }

        label {
            background-color: $secondBgColor;
            border-radius: 12px;
            box-shadow: 15px 15px 0px $accentBlue;
            display: block;
            margin: 25px auto;
            padding: 0 30px;
            width: 70%; 
            position: relative;
        }

        .optionContainer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 20px;
        }

        .imageContainer {
            margin-right: 20px;
            background: $accentBlue;
            border-radius: 50%;
            padding: 10px;
        }

        img {
            border-radius: 50%;
            width: 125px;
        }
    
        .textContainer {
            margin-left: 40px;
        }

        .displayContents{
            &::before {
                content: '';
                display: block;
                height: 3px;
                background: $bgColor;
                box-shadow: 4px 4px $accentBlue;
                margin: 10px 0 20px 0;
            }
        }        

        .closeButton {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            transition: transform .5s;
            border-radius: 50%;
            padding: 7px 10px;
            background: $accentBlue;
            border: $bgColor;
            color: $bgColor;
        }
    
        .active {
            transform: rotate(45deg);
            transition: transform .5s;
        }
    }

    label:hover,
    input[type='radio']:focus + label {
        background-color: $hoverRed;
        cursor: pointer;
        transition: all 0.5s;
    }

    input[type='radio']:checked + label {
        background-color: $accentRed;
    }
}


