.windowC {
   @include fontStyle($bodyFont, $fontMainColor, 1rem);
   padding: 20px;
   background: $secondBgColor;
   border-radius: 12px;

   .border {
      border: 5px solid $bgColor;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
   }

   form {
      text-align: center;
   }

   button {
      margin: 20px auto;
      width: 100%;
      max-width: 200px;
   }
   

   section {
      padding: 20px;
      position: relative;

      &::after {
         content: '';
         background-color: $bgColor;
         height: 2px;
         position: absolute;
         box-shadow: -6px 6px $accentBlue;
         bottom: 0;
         right: 20px;
         left: 20px;
      }

      h2 {
         color: $bgColor;
      }

      p {
         margin: 5px 0 5px 20px;
      }

      address {
         margin-bottom: 20px;

         p:first-of-type {
            color: $bgColor;
         }
      }

      span {
         color: $bgColor;
      }
   }

   .nameplate {
      display: flex;
      
      .userPhoto {
         margin-right: 20px;
         background: $accentBlue;
         border-radius: 50%;
         padding: 10px;
         
         img {
            border-radius: 50%;
            width: 175px;
         }
      }
   }

   .userName {
      align-self: flex-end;
      text-transform: capitalize;

      p {
         margin: 0;
      }

      p:first-of-type {
         margin: 5px 0;
      }
   }

   .profileHeader {
   color: $bgColor;
   font-weight: 700;
   padding: 10px;
   border-radius: 12px;
   display: block;
   cursor: pointer;

      &:hover, 
      &:focus {
         background-color: $accentBlue;
         border-radius: 12px;
      }
   }

   .socialMedia .hiddenContents {
      display: flex;
      flex-wrap: wrap;

      .profileInfo {
         align-self: flex-end;
      }
   }
}