html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

a {
  color: #0f1c2e;
  text-decoration: none;
}

a:hover, a:focus {
  color: #d90429;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

button {
  background-color: #e63946;
  padding: 10px 20px;
  color: #f1faee;
  font-family: "Nova Square", cursive;
  font-size: 1rem;
  border: 2.5px solid #e63946;
  border-radius: 12px;
  cursor: pointer;
  margin: 30px;
}

button:hover, button:focus {
  -webkit-transform: scaleX(1.06);
          transform: scaleX(1.06);
  border: 2.5px solid #a8dadc;
}

.buttonContainer {
  margin: 30px auto 0px auto;
}

.errorContainer {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #e63946;
  line-height: auto;
  height: 10px;
  margin: 30px auto;
}

.hiddenContents {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height .1s;
  transition: max-height .1s;
}

.displayContents,
.checkbox:checked ~ .hiddenContents {
  margin-top: 10px;
  max-height: 500px;
  -webkit-transition: max-height .5s;
  transition: max-height .5s;
}

.checkbox:focus + label {
  background: #a8dadc;
}

header {
  background-color: #0f1c2e;
  min-height: 35vh;
  text-align: center;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 4rem;
  font-family: "Nova Square", cursive;
  font-weight: 400;
  color: #f1faee;
  line-height: auto;
  padding: 20px;
}

header p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #0f1c2e;
  line-height: auto;
  background: #78a5bf;
  border-radius: 12px;
  border: 2px solid #a8dadc;
  width: 75%;
  padding: 20px;
}

header p span {
  font-weight: 700;
}

header p .important {
  display: block;
  margin-top: 10px;
  padding: 12px;
  background: #a8dadc;
  border-radius: 8px;
  line-height: 1.5rem;
}

header p .button {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: #f1faee;
  font-family: "Nova Square", cursive;
  padding: 3px 6px;
  background-color: #e63946;
  border-radius: 8px;
  position: relative;
  bottom: 3px;
}

main {
  background: #0f1c2e;
  padding: 20px 0;
}

.windowA {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windowA .userInput {
  min-height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.windowA select {
  color: #f1faee;
  background-color: #a8dadc;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #0f1c2e;
  line-height: auto;
  text-align: center;
  -webkit-box-shadow: -2px 2px #a8dadc;
          box-shadow: -2px 2px #a8dadc;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 3px solid #0f1c2e;
  border-radius: 12px;
  background-image: url(../assets/noun_chevron_45902.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 97% center;
  width: 375px;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.windowA select:hover, .windowA select:focus {
  border: 3px solid #a8dadc;
}

.windowA .submitButton {
  margin: 0 auto;
}

.windowB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.windowB fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
  padding-bottom: 50px;
}

.windowB fieldset h2 {
  margin: 10px 0;
  font-size: 1.3rem;
  font-family: "Nova Square", cursive;
  font-weight: 400;
  color: #d90429;
  line-height: auto;
}

.windowB fieldset h3 {
  font-size: 1.3rem;
  font-family: "Nova Square", cursive;
  font-weight: 400;
  color: #0f1c2e;
  line-height: auto;
  margin-bottom: 10px;
}

.windowB fieldset p {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #f1faee;
  line-height: auto;
}

.windowB fieldset .dobStyle {
  color: #0f1c2e;
}

.windowB fieldset input[type='radio'] {
  opacity: 0;
}

.windowB fieldset label {
  background-color: #78a5bf;
  border-radius: 12px;
  -webkit-box-shadow: 15px 15px 0px #a8dadc;
          box-shadow: 15px 15px 0px #a8dadc;
  display: block;
  margin: 25px auto;
  padding: 0 30px;
  width: 70%;
  position: relative;
}

.windowB fieldset .optionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
}

.windowB fieldset .imageContainer {
  margin-right: 20px;
  background: #a8dadc;
  border-radius: 50%;
  padding: 10px;
}

.windowB fieldset img {
  border-radius: 50%;
  width: 125px;
}

.windowB fieldset .textContainer {
  margin-left: 40px;
}

.windowB fieldset .displayContents::before {
  content: '';
  display: block;
  height: 3px;
  background: #0f1c2e;
  -webkit-box-shadow: 4px 4px #a8dadc;
          box-shadow: 4px 4px #a8dadc;
  margin: 10px 0 20px 0;
}

.windowB fieldset .fa-plus {
  position: absolute;
  color: #f1faee;
  font-size: 2rem;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.windowB fieldset .active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.windowB label:hover,
.windowB input[type='radio']:focus + label {
  background-color: #F2929A;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.windowB label:hover h2,
.windowB input[type='radio']:focus + label h2 {
  color: #0f1c2e;
}

.windowB input[type='radio']:checked + label {
  background-color: #e63946;
}

.windowB input[type='radio']:checked + label h2 {
  color: #0f1c2e;
}

.windowC {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #f1faee;
  line-height: auto;
  padding: 20px;
  background: #78a5bf;
  border-radius: 12px;
}

.windowC .border {
  border: 5px solid #0f1c2e;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.windowC form {
  text-align: center;
}

.windowC section {
  padding: 20px;
  position: relative;
}

.windowC section::after {
  content: '';
  background-color: #0f1c2e;
  height: 2px;
  position: absolute;
  -webkit-box-shadow: -6px 6px #a8dadc;
          box-shadow: -6px 6px #a8dadc;
  bottom: 0;
  right: 20px;
  left: 20px;
}

.windowC section h2 {
  color: #0f1c2e;
}

.windowC section p {
  margin: 5px 0 5px 20px;
}

.windowC section address {
  margin-bottom: 20px;
}

.windowC section address p:first-of-type {
  color: #0f1c2e;
}

.windowC section span {
  color: #0f1c2e;
}

.windowC .nameplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.windowC .nameplate .userPhoto {
  margin-right: 20px;
  background: #a8dadc;
  border-radius: 50%;
  padding: 10px;
}

.windowC .nameplate .userPhoto img {
  border-radius: 50%;
  width: 175px;
}

.windowC .userName {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-transform: capitalize;
}

.windowC .userName p {
  margin: 0;
}

.windowC .userName p:first-of-type {
  margin: 5px 0;
}

.windowC .profileHeader {
  color: #0f1c2e;
  font-weight: 700;
  padding: 10px;
  border-radius: 12px;
  display: block;
  cursor: pointer;
}

.windowC .profileHeader:hover, .windowC .profileHeader:focus {
  background-color: #a8dadc;
  border-radius: 12px;
}

.windowC .socialMedia .hiddenContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.windowC .socialMedia .hiddenContents .avatarContainer {
  background-color: #a8dadc;
  border-radius: 50%;
}

.windowC .socialMedia .hiddenContents .profileInfo {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #0f1c2e;
  line-height: auto;
  background-color: #78a5bf;
  padding: 15px 0;
  text-align: center;
}

@media (max-width: 940px) {
  header h1 {
    font-size: 3.5rem;
  }
  header p {
    width: 100%;
  }
  .windowB fieldset label {
    width: 95%;
  }
}

@media (max-width: 700px) {
  header h1 {
    font-size: 2.75rem;
  }
  .windowB fieldset .optionContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .windowB fieldset .textContainer {
    margin-left: 0px;
  }
  .windowB fieldset h2, .windowB fieldset p {
    text-align: center;
  }
  .windowC .nameplate, .windowC .socialMedia .hiddenContents {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .windowC .userName {
    text-align: center;
  }
  button {
    margin: 10px;
  }
}

@media (max-width: 400px) {
  header p,
  .windowA select,
  .windowB fieldset p,
  .errorContainer p,
  .windowC p,
  footer p {
    font-size: 0.8rem;
  }
  .windowA select {
    width: 100%;
  }
  .windowB fieldset h2 {
    font-size: 1rem;
  }
  .windowB fieldset label {
    -webkit-box-shadow: 8px 8px 0px #a8dadc;
            box-shadow: 8px 8px 0px #a8dadc;
    padding: 10px 0;
  }
  .windowB fieldset .fa-plus {
    font-size: 1.5rem;
  }
  .windowB fieldset .hiddenContents {
    text-align: center;
  }
  .windowB .buttonContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .windowC {
    padding: 10px;
  }
}
